@{
    Layout = null;
}
@model karad.Models.User
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>Update page</title>
</head>
<body>
    <div class="container">
        <form action="/Admin/Edit" method="post">
            <table class="table table-responsive">
                <input type="hidden" name="user_id" value="@Model.user_id" />
                <tr>
                    <td>User Name</td>
                    <td><input type="text" name="username" value="@Model.username" /></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="email" name="email" value="@Model.email" /></td>
                </tr>
                <tr>
                    <td>Mobile No</td>
                    <td><input type="text" name="mobile_no" value="@Model.mobile_no" /></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" value="@Model.password" /></td>
                </tr>
                <tr>
                    <td><input class="btn btn-outline-secondary" type="submit" name="btnUpdate" value="Update " /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
